@media (max-width: 1200px) {

    .header-container{

        display: block !important;

    }

    .image-div{

        margin-left: 0 !important;
        text-align: center;
    }

    .hola{ 
        
        font-size: 30px !important;
        width: 100% !important;
        text-align: center;
        animation: fadeIn 1.2s 1;
    
    }

    .main-info{

        display: block !important;

    }

    #col-der{ display: none !important; }
    #habilidades-movil{ display: block !important; }

    .other-info-right{

        border-right: 0 !important;
        border-left: 5px solid #ffa !important;

    }

    .other-info-left{

        animation: fadeIn 1.6s 1; 

    }

    h2{ font-size: 28px !important; }

    .description{ animation: fadeIn 1.4s 1; }

}


@media (min-width: 1200px) {


    .other-info-left, .other-info-right{

        animation: fadeIn 2s 1;
        animation-direction: normal;        

    }


    .hola{

        animation: shimmy 1s 1;
        animation-direction: normal;

    }

    @keyframes shimmy {
    0% {
        transform: translate(-50px, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
    }

    .description{

        animation: y-expand 1s 1;
        animation-direction: normal;

    }

    @keyframes y-expand {
    0% {
        transform: scale(0.75);  
        opacity: 0;
    }
    60% {
        transform: scale(0.75);  
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
    }

}

    @keyframes fadeIn {
        0% {
            transform: scale(0.7);
            opacity: 0;
        }
        50% {
            transform: scale(0.7);
            opacity: 0;
        }
        100% {
            transform: scale(1); 
            opacity: 1;
        }
    }


body{ 
    
background: #05668D;  /* fallback for old browsers */

background: linear-gradient(to left, #05668D, #028090); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #fff !important;

}

.header-container{ 
    display: flex;
    margin-top: 30px;
}

.image-div{

    margin-left: 80px;
    animation: fadeIn 1s 1;

}


.foto{

    width: 180px;
    border-radius: 50%;
    border: 3px solid #ddd;

}

.hola{

    font-size: 52px;
    line-height: 58px;
    margin: auto auto;
    width: 65%;
}

.grey-text{ color: #ddd; }
.color1-text{ color: #F1DCA7 }

.main-info{

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5px;
    letter-spacing: 1px;

}

.main-info div{ color: #fff; font-size: 14px; }
.main-info i{ margin-right: 2px; font-size: 18px; vertical-align: text-bottom; color: #18CEF2 !important }

.description{

    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    padding: 3px;
    width: 90%;
    border-radius: 10px;
    background: #05668D;
    background: -webkit-linear-gradient(to right, #05668D, #028090);
    background: linear-gradient(to right, #05668D, #028090); 

}

.description-inn{ 

    background: #008AA6;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-size: 19px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
    
}


h2{ color: #ddd; }

.other-info-left{

    border-radius: 10px;
    border-left: 5px solid #ffa;
    width: 90%;
    margin: 20px auto 40px auto;
    padding: 20px;


}

.other-info-right{

    border-radius: 10px;
    border-right: 5px solid #ffa;
    width: 90%;
    margin: 20px auto 40px auto;
    padding: 20px;

}

.skills-bubbles-content{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15px;

}

.skills-bubble{

    background-color: #008AA6;
    border-radius: 10px;
    font-size: 20px;
    padding: 6px 10px;
    margin: 20px 0;
    color: #fff;
    font-weight: 500;

}

.text-box{

    font-size: 20px;
    margin-top: 20px;

}

.col-izq{ text-align: right; padding-right: 20px; }

#habilidades-movil{ display: none; }